<section class="main__container--limited-width">
  {{#if signedIn}}
    <class class="main__title">Hello there, {{username}} <a href="/logout">Logout</a></class><h1>
      
  {{else}}
    <h1 class="main__title">Welcome to Asgard's gates.</h1>
  {{/if}}
</section>